@import '../../assets/style/variables.scss';

.canvas-field {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	border: 10px solid rgb(138, 51, 138);
	width: calc(100vw - 2 * 10px);
	height: calc(100vh - 2 * 10px - 50px);
	&__collapse-btn {
		margin-top: 50px;
		height: 50px;
		width: 200px;
		border: $primary-border;
		color: $primary-color;
		background: none;
		font-size: 2.5rem;
	}
}